body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

}
.background_circle_one{
    position: absolute;
width: 1005px;
height: 1005px;
left: 587px;
top: 118px;
border-radius: 50%;
background: #83A474;
}
.background_circle_two{
    position: absolute;
width: 1005px;
height: 1102px;
left: -385px;
top: 1222px;
border-radius: 50%;
background: #83A474;
}